body,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif,'Open Serif', sans-serif, 'Open Serif', serif;
	background-color: #ffffff;
	/*background-color: #f1f1f1; fdf3e7*/
}

a {
	text-decoration: none;
}

a.title {
	text-decoration: none;
}

a.title:hover {
	opacity:0.5;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

li {
/*	display: inline;*/
	list-style-type: circle;
}

.alignLeft {
	float: left;
}

.alignRight {
	float: right;
}

.container {
    text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
    margin-bottom: 20px;
}

a.link {
    color: #3366BB
}

.video {
    margin-top: 20px;
}

.frontpage {
	margin-top: 100px;
    text-align: center;
}

.blog {
	width: 800px;
    text-align: left;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.indented {
    text-indent: 30px;
}

.menu {
	width: 300px;
    text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
    margin-top: 20px;
    display: none
}

.vertcentered {
    position: relative;
    top: 50%;
	transform: translateY(-60%);
}

h1 {
	font-size: 30pt;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 40px;
	font-family: 'Source Sans Pro';
    text-align: center;
}

h2 {
	font-size: 20pt;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 40px;
	font-family: 'Source Sans Pro';
    text-align: center;
}

h3 {
	font-size: 15pt;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	line-height: 40px;
	font-family: 'Source Sans Pro';
    text-align: center;
}

h4 {
	font-size: 13pt;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 0px;
	line-height: 20px;
	font-family: 'Source Sans Pro';
    text-align: center;
}

h5 {
	font-size: 13pt;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 0px;
	line-height: 20px;
	font-family: 'Source Sans Pro';
    text-align: left;
}

h6 {
	font-size: 12pt;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 0px;
	line-height: 20px;
	font-family: 'Source Sans Pro';
    text-align: center;
}

p {
	font-size: 12pt;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 20px;
	font-family: 'Source Sans Pro';
    text-align: left;
}

li {
  margin-top: 0em;
  margin-bottom: 8px;

}

.centered {
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resistor{
    position: absolute;
}
